/* IT WORK, REFERENCES  */
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 30%, #0000ff 50%); */


/* --------------------------------------------- */

/* NAVBAR */
.fixed-navbar{
    width: 100%;
    height: 1500px;
    /* position: fixed; */
    position: absolute;
    /* position: fixed; */
}


.bg-nav-bar{
    /* background: linear-gradient(to bottom, #ff0000 30%, #0000ff 50%); */
    background-color: rgb(45, 63, 106);
    /* position: fixed; */
    
}
.hold-everything-pg1{
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 30%, #0000ff 50%); */
    background-color: rgb(8, 23, 57);
}

/* Changing the icon toggle color ->  rgba%28COLOR YOU WANT IN RGBA%29  <-EXAMPLE 255, 255, 255, 255*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

/* ----------------------------------------------- */






/* Afect all the sections */

.word-color-white{
    text-decoration: none; /* remove underline*/
    color: white;
}

.btn-center{
    /* background-color: rgb(55, 212, 159); */
    /* width: 30px;
    height: 30px; */
    font-size: 30px;
    margin-left: 5px;
    margin-top: -4px;
    
}
.btn-logo{
    /* background-color: rgb(69, 177, 87); */
    /* width: 100%; */
    /* margin: 0px; */

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.show-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    background: red;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display: block;
    bottom: 10%; 
    right: 5%; 
    /* position: absolute; */
}

.show-btn:hover{
    box-shadow: 2px 2px 5px  rgb(21, 22, 31);
    transform: scale(1.07);
    transition: 1s ease-out;

}
.show-btn-off{
    display: none;
}

/* STILL AFFECTING EVRY CARD PROJECT */

/* .scroll-bg{ */
/* background-color: blue; */
/* height: 80px; */
/* margin: auto ; */

/* } */
.scroll-div{
    /* background-color: blue; */
    height: 140px;
    overflow: hidden;
    overflow-y: scroll;


}
.scroll-object{

}












/* -------------------------------- */





/* SECTION 1 -- HOME */
.section1-home-color{
    background: linear-gradient(to bottom, rgb(8, 23, 57) 40%, rgb(94, 114, 205) 80%);

}

.section1{
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 40%, rgb(94, 114, 205) 80%); */

    /* background-color:rgb(8, 23, 57) ; */
    display: flex;
    align-items:center ;
    justify-content: center;
    /* height: 100vh; */
}

.introducing-section1{
    justify-content: center;
    margin-right: 15%;
}
.picture-profile{
    margin:10px 10px 15px 10px ;
    width: 200px;
    height: auto;
}
.picture-profile:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}
.prof-pic{
   /*           rig bot  numb of shade   */
    /* box-shadow: 10px 10px 35px  rgb(74, 76, 141); */
    /* box-shadow: 10px 10px 5px lightblue; */
    /* outline: 2px solid rgb(13, 110, 195); */
    border-radius: 20px;
}
.prof-pic:hover{
    /*           rig bot  numb of shade   */
     box-shadow: 10px 10px 35px  rgb(74, 76, 141);
     /* box-shadow: 10px 10px 5px lightblue; */
     /* outline: 2px solid rgb(13, 110, 195); */
     /* border-radius: 20px; */
 }

/* ------------------------------ */


/* SECTION 2 -- PROJECTS */
.section2{
    /* background: linear-gradient(to top, rgb(8, 23, 57) 1%, rgb(94, 114, 205) 90%); */
    background-color: rgb(94, 114, 205);


}
.project-picture-1{
    background-image: url('./imgs/medics.jpeg');
}

.section2-text-color{

    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px rgb(61, 59, 59);
    font-weight: bold;
}

.bg-color-2{
    text-align: center;
    /* background-color: rgb(94, 114, 205); */
}


.container-cards{
    display: flex;
    flex-flow: row wrap;
}
/* .cards-border{
    border-radius: 8px;
} */

.cardss{
    /* height:365px; */
    border-radius: 8px;
    /* margin: up right down left; */
    margin: 15px 15px 15px 15px;
}
.text-inthe-cards{
    /* height:196px ; */
    /* margin:0px 0px 0px 0px; */
}
.whitboard-text-cards{
    height:20px;
}
/* .img-inthe-cards{
   
    height:1500px;
} */
.cardss:hover{
    box-shadow: 10px 10px 35px  rgb(32, 33, 51);
    transform: scale(1.07);
    transition: 1s ease-out;
}
.nav-btn-scale:hover{
    box-shadow: 10px 10px 35px  rgb(212, 213, 221);
    transform: scale(1.07);
    transition: 1s ease-out;
    border-radius: 8px;

}

.cards-holder{
    justify-content: center;
}

/* ------------------------------------ */







/* SECTION 3 -- about-me */

.bg-color-3{
    text-align: center;
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 1%, rgb(94, 114, 205) 30%); */
    background-color: rgb(94, 114, 205);
    width: 100%;
    height: 600px;
}
.section3-text-color{
   
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px rgb(61, 59, 59);
    font-weight: bold;

}




/* ---------------------- */


/* SECTION 4 -- contact-me */

.section4{
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 1%, rgb(94, 114, 205) 30%); */
    text-align: center;

    /* background-color: rgb(147, 178, 101); */
    width: 100%;
    height: 500px;
}
.section4-text-color{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px rgb(61, 59, 59);
    font-weight: bold;
}

.cols-icon{
/* background-color: white; */
   /* height:200px; */
   margin-top: 200px;
}
.icon-contact{
    width:300px;
    height: 200px;
}
.section4-email{
    margin-top:10%;
    margin-bottom: 5%;
}


/* this part of the stlye code is inside the contactme.css */
/* button .load img{
    width: 60px;
    color: green;
} */





/* ---------------------- */






/* WORKING KINF OF */

.hold-everything-pg1{
    position: relative;
} 





/* ------------ */





















/* Responsive mobile tablet */


@media  screen and (max-width: 810px){
    .section1{
        /* background: linear-gradient(to bottom, rgb(8, 23, 57) 40%, rgb(94, 114, 205) 80%); */

        /* this line make the flex reverse that means instead being on horizontal it became vertical for all the itens or divs inside this box */
        flex-direction: column-reverse;
        align-items:center ;
        justify-content: center;
        /* margin-left: 35%; */
    }
   
    
}
@media  screen and (max-width: 620px){
    .introducing-section1{
        justify-content: center;
        margin-left:5%;
    }
    
   
    
}
@media  screen and (max-width: 460px){
    .section1{
        /* background: linear-gradient(to bottom, rgb(8, 23, 57) 40%, rgb(94, 114, 205) 80%); */
        /* this line make the flex reverse that means instead being on horizontal it became vertical for all the itens or divs inside this box */
        flex-direction: column-reverse;
        align-items:center ;
        justify-content: center;
        /* margin-left: 25%; */
    }
    
}


/*  ---------------------------  */







/* .hold-sections{
    width: 100%;
    position: absolute;
} */
/* .btn-return-top{
    width: 100;
    margin-right: 2px;
} */



/* .hold-sections{
    width: 100%;
    position: relative;
} */