/* IT WORK, REFERENCES  */
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 30%, #0000ff 50%); */


/* --------------------------------------------- */

/* NAVBAR */
/* .nav-fix-open{
    /* position: relative; */
    /* height: auto; */
/* } */
.fixed-navbar{
    width: 100%;
    height: 1500px;
    /* position: fixed; */
    position: absolute;
    /* position: fixed; */
}


.bg-nav-bar{
    /* background: linear-gradient(to bottom, #ff0000 30%, #0000ff 50%); */
    background-color: rgb(126, 128, 131);
    /* position: fixed; */
    
}
.hold-everything-pg1{
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 30%, #0000ff 50%); */
    background-color: rgb(8, 23, 57);
}

/* Changing the icon toggle color ->  rgba%28COLOR YOU WANT IN RGBA%29  <-EXAMPLE 255, 255, 255, 255*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.my-name{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(8, 23, 57);;
    /* background-color: rgb(8, 23, 57); */
    position: relative;
}
.adjusting-name{
    position: absolute;
    top: 25%;
    color: white;
    /* margin-top: 20px; */
    margin-left: 100px;
}

/* ----------------------------------------------- */






/* Afect all the sections */

.btn-proj{
    margin: 5px;
    /* padding-bottom: 5px; */
}

.divisa-img-adjuste{
    display: flex;
    justify-content: center;
    bottom: 0px;
    /* align-items: center; */
}
.divisa-img{
    /* margin-left: 45%; */
    justify-content: center;
    margin-bottom: 0%;
    width: 450px;
    height: 50px;
    /* position: absolute; */
}

.word-color-white{
    text-decoration: none; /* remove underline*/
    color: rgb(28, 27, 27);
}

.btn-center{
    /* background-color: rgb(55, 212, 159); */
    /* width: 30px;
    height: 30px; */
    font-size: 30px;
    margin-left: 5px;
    margin-top: -4px;
    
}
.btn-logo{
    /* background-color: rgb(69, 177, 87); */
    /* width: 100%; */
    /* margin: 0px; */

    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.show-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: fixed; 
    background: red;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    display: block;
    bottom: 10%; 
    right: 5%; 
    /* position: absolute; */
}

.show-btn:hover{
    box-shadow: 2px 2px 5px  rgb(21, 22, 31);
    transform: scale(1.07);
    transition: 1s ease-out;

}
.show-btn-off{
    display: none;
}

/* STILL AFFECTING EVRY CARD PROJECT */

/* .scroll-bg{ */
/* background-color: blue; */
/* height: 80px; */
/* margin: auto ; */

/* } */
.scroll-div{
    /* background-color: blue; */
    height: 140px;
    overflow: hidden;
    overflow-y: scroll;


}












/* -------------------------------- */

.passing-tabs-flex{
    display: flex;
    position: relative;
    height: 40px;

}
.passing-tabs{
    position: absolute;
   /* top: 50%; */
    right: 0px;
    /* display: flex; */
    /* align-items: end; */
    /* margin: 0px 0px 0px auto; */
}





/* SECTION 1 -- HOME */

.bg-sec1{
    position: absolute;
    top: 0px;
    background-color: rgb(191, 193, 184);
    width: 100%;
    height: 80px;
    margin-top: 0px;
    display: flex;
}
.professional-info{
    margin-left: 5%;
    color: rgb(233, 147, 18);
    justify-content: center;
    align-items: center;
}


.hold-sections{
    justify-content: center;
}
.section1-home-color{
    background: rgb(243, 244, 245);

    /* background: linear-gradient(to bottom, rgb(126, 128, 131) 5%, rgb(243, 244, 245) 20%); */

}

.section1{
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 40%, rgb(94, 114, 205) 80%); */
    position:relative ;
    /* background-color:rgb(8, 23, 57) ; */
    display: flex;
    align-items:center ;
    justify-content: center;
    /* height: 100vh; */
}

.introducing-section1{
    position: absolute;
    justify-content: center;
    margin-right: 15%;
}


.picture-profile{
    margin:10px 10px 15px 10px ;
    width: 200px;
    height: auto;
}
.picture-profile:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}
.prof-pic{
   /*           rig bot  numb of shade   */
    /* box-shadow: 10px 10px 35px  rgb(74, 76, 141); */
    /* box-shadow: 10px 10px 5px lightblue; */
    /* outline: 2px solid rgb(13, 110, 195); */
    border-radius: 20px;
}
.prof-pic:hover{
    /*           rig bot  numb of shade   */
     box-shadow: 10px 10px 35px  rgb(74, 76, 141);
     /* box-shadow: 10px 10px 5px lightblue; */
     /* outline: 2px solid rgb(13, 110, 195); */
     /* border-radius: 20px; */
 }

/* ------------------------------ */


/* SECTION 2 -- PROJECTS */
.section2{
    /* background: linear-gradient(to top, rgb(8, 23, 57) 1%, rgb(94, 114, 205) 90%); */
    background-color: rgb(255, 255, 255);


}
.project-picture-1{
    background-image: url('./imgs/medics.jpeg');
}

.section2-text-color{

    color: rgb(25, 24, 24);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px rgb(61, 59, 59);
    font-weight: bold;
}

.bg-color-2{
    text-align:left;
    margin-left: 25px;
    /* background-color: rgb(94, 114, 205); */
}


.container-cards{
    display: flex;
    flex-flow: row wrap;
}
/* .cards-border{
    border-radius: 8px;
} */

.cardss{
    /* height:365px; */
    border-radius: 8px;
    /* margin: up right down left; */
    margin: 15px 15px 15px 15px;
}
/* .text-inthe-cards{
    /* height:196px ; */
    /* margin:0px 0px 0px 0px; */
/* }  */
.whitboard-text-cards{
    height:20px;
}

.cardss:hover{
    box-shadow: 10px 10px 35px  rgb(32, 33, 51);
    transform: scale(1.07);
    transition: 1s ease-out;
}
.nav-btn-scale:hover{
    box-shadow: 10px 10px 35px  rgb(212, 213, 221);
    transform: scale(1.07);
    transition: 1s ease-out;
    border-radius: 8px;

}

.cards-holder{
    justify-content: center;
}

/* ------------------------------------ */







/* SECTION 3 -- about-me */

.bg-color-3{
    text-align: center;
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 1%, rgb(94, 114, 205) 30%); */
    background-color: rgb(94, 114, 205);
    width: 100%;
    height: 600px;
}
.section3-text-color{
   
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px rgb(61, 59, 59);
    font-weight: bold;

}
.text-aboutme{
    width:100%;
    display: column-reverse;
    justify-content: center;
    align-items: center;
}
.text-aboutme-adjust{
    margin-left: 10px ;
    margin-right: 10px;

}




/* ---------------------- */


/* SECTION 4 -- contact-me */

.section4{
    /* background: linear-gradient(to bottom, rgb(8, 23, 57) 1%, rgb(94, 114, 205) 30%); */
    text-align: center;

    /* background-color: rgb(147, 178, 101); */
    width: 100%;
    height: 650px;
}
.section4-email{
    margin-top:10%;
    /* margin-bottom: 15%; */
    /* padding-bottom: 0%; */
}
.section4-text-color{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 5px rgb(61, 59, 59);
    font-weight: bold;
}

.cols-icon{
/* background-color: white; */
   /* height:200px; */
   margin-top: 200px;
}
.icon-contact{
    /* background-color: white; */
    padding-left: 2%;
    padding-right: 2%;
    width:300px;
    height: 200px;
}



/* this part of the stlye code is inside the contactme.css */
/* button .load img{
    width: 60px;
    color: green;
} */





/* ---------------------- */






/* WORKING KINF OF */

.hold-everything-pg1{
    position: relative;
} 





/* ------------ */





















/* Responsive mobile tablet */


@media  screen and (max-width: 810px){
    .section1{
        /* this line make the flex reverse that means instead being on horizontal it became vertical for all the itens or divs inside this box */
        flex-direction: column-reverse;
        align-items:center ;
        justify-content: center;
        /* margin-left: 35%; */
    }
    .passing-tabs-flex{
        display: flex;
        /* position: relative; */
        height: auto;
    
    }
    .passing-tabs{
        /* position: absolute; */
       top: 50%;
        left: 0px;
        /* display: flex; */
        /* align-items: end; */
        margin: 0px 0px 0px auto;
    }
    .tabs-i{
        display: none;
    }
   
    
}
@media  screen and (max-width: 620px){
    .introducing-section1{
        justify-content: center;
        margin-left:5%;
    }
    .tabs-i{
        display: none;
    }
    .passing-tabs-flex{
        display: flex;
        /* position: relative; */
        /* height: 40px; */
        height: auto;
    
    }
    .passing-tabs{
        /* position: absolute; */
       /* top: 50%; */
       left: 0px;
        /* right: 5px; */
        /* display: flex; */
        /* align-items: end; */
        margin: 0px 0px 0px auto;
    }
    
   
    
}
@media  screen and (max-width: 460px){
    .section1{
        /* background: linear-gradient(to bottom, rgb(8, 23, 57) 40%, rgb(94, 114, 205) 80%); */
        /* this line make the flex reverse that means instead being on horizontal it became vertical for all the itens or divs inside this box */
        flex-direction: column-reverse;
        align-items:center ;
        justify-content: center;
        /* margin-left: 25%; */
    }
    .show-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        position: fixed; 
        background: red;
        border-radius: 10px;
        width: 35px;
        height: 35px;
        display: block;
        bottom: 10%; 
        right: 10%; 
        /* position: absolute; */
    }
    .passing-tabs-flex{
        display: flex;
        height: auto;
        /* position: relative; */
        /* height: 40px; */
    
    }
    .passing-tabs{
        /* position: absolute; */
       /* top: 50%; */
       left: 0px;
        /* right: 5px; */
        display: flex;
        /* align-items: end; */
        margin: 0px 0px 0px auto;
    }
    .tabs-i{
        display: none;
    }
}


/*  ---------------------------  */







/* .hold-sections{
    width: 100%;
    position: absolute;
} */
/* .btn-return-top{
    width: 100;
    margin-right: 2px;
} */



/* .hold-sections{
    width: 100%;
    position: relative;
} */